.product .buttom .idmore{
  margin-bottom: 10px;
  border-bottom: none;
}

.nav{
  background-color: #fff;
  margin-bottom: .16rem;
  overflow: hidden;
}
.nav ul{
  overflow: hidden;
  padding: .05rem 0;
}

.nav ul li{
  padding:0 .19rem ;
  float: left;
}
.nav ul li a{
  display: inline-block;
  height: .94rem;
  line-height:.94rem ;
  font-size: .30rem;
  /* padding: 0 .15rem; */
}

.nav ul li.active a{
  border-bottom: 2px solid #d90000;
  color: #d90000;

}


.buttom .info .ten{
  padding: .16rem;
  border: 1px dashed #d90000;
}

.buttom .info .num{
  padding:.2rem .16rem;
  color: white;
  border-radius: .1rem;
  background-color: #d90000;
}


.product .buttom{
  background-color: #ccc;
}
.product .buttom .idmore{
  background-color: #fff;
  padding-bottom: .2rem;
}
.mmm-container{
  background-color: #ccc;
}
.youhui em{
  font-size: .3rem;
}
.youhui p{
  color: red;
font-size: .4rem;  
}
.bar i{
  display: inline-block;
  width: 1.67rem;
  height: .4rem;
  position: relative;
  background-color: pink;
  border-radius: 5px;
  border: 1px solid #ccc;
  vertical-align: middle;
  margin-right: .13rem;
}
.bar i em{
  display: inline-block;
  height: .4rem;
  background-color: red;
  border-radius: 5px;
}
/* .youhui>a{

} */
.youhui{
  overflow: hidden;
}
.youhui>a{
  padding: .12rem .27rem;
  display: inline-block;
  background-color: red;  
  margin-top: .2rem;
}
.youhui>a:nth-of-type(1){
float: left;
border: 1px dashed red;
background-color: #fff;
color: red;
}
.youhui>a:nth-of-type(2){
  float: right;
  color: #fff;
  
}
.bar i span{
color: #fff;
position: absolute;
left: 50%;
top: 50%;
transform: translateX(-50%) translateY(-50%)
}
.youhui p i{
  font-size: .30rem;
}
.youhui del{
font-size: .32rem;
color: #ccc;
}
.youhui i{
  font-style: normal;
}

.product .buttom .idmore img{
  width: 2.6rem;
  height: 2.6rem;
} 


.mmm-container .footer{
  background-color: #fff;
}