

.nav ul{
  overflow: hidden;  
background-color: #fff;
font-weight: 700;
border-bottom: 1px solid #ccc;
}
.nav ul li{
  float: left;
  width: 25%;
  height: .93rem;
  text-align: center;
  line-height: .93rem;
  font-size: .32rem;
  color: black;
  background-color: #fff;
}
.nav ul li.allprice{
  width: 35%;
}
.nav ul li.find{
padding-left: .53rem;
width: 15%;
}
.from{
  overflow: hidden;
}
.nav ul li.find a{
  display: block;
  height: 100%;
  background-position: -10px -10px;
background-color: #fff;
border-left: 1px solid #ccc;
}
.nav ul li.find a i{
display: inline-block;
height: 100%;
font-size: .53rem;
}


#downlist .havedown{
  position: absolute;
  /* top: 0;
  left: 0; */
  width: 100%;
}
#downlist .havedown li{
  width: 100%;
  height: .93rem;
  background-color: #fff;
  border-bottom: 1px solid #ccc;
    line-height: .93rem;
    text-align: left;
    padding: 0 .27rem;
    font-weight: 400;
    /* overflow: hidden; */
}
#downlist .havedown  i{
 font-size: 0;
}
#downlist .havedown li.check i{
  display: inline-block;
 font-size: .45rem;
 height: .93rem;
 line-height: .93rem;
color: #ff841d; 
}
#jd.ha,
#from.ha,
#allprice.ha{
  display: block;
}
#jd{
  display: none;
}
#from{
  display: none;
}
#allprice{
  display: none;
}

#down{
  position: relative;
}

.gsproduct{
 padding: .2rem .2rem;
  background-color: #ccc;
}

.gsproduct ul{
  overflow: hidden;

}
.gsproduct ul li{
  float: left;
  width: 50%;
  padding: .13rem
  
}
.gsproduct ul li a{
  display: block;
  background-color: #fff;
  padding-bottom: .16rem;
}
.gsproduct ul li a img{
  width: 4.33rem;
  height: 4.33rem;
}
.gsproduct ul li a>p{
  padding-left: .2rem;
}
.gsproduct ul li a .dan{
  overflow: hidden;
  padding: 0 .13rem;
}
.gsproduct ul li a .dan .price{
  font-size: .32rem;
  color: #ff841d;
}
.gsproduct ul li a .dan .go-shop{
  background-color: #ff9501;
  color: white;
  padding: .07rem .13rem;
border: 1px solid #ccc;
border-radius: .08rem;
}