.sitenav{
  padding: .2rem 1.13rem;
}

.mmm-container{
  background-color: #fff;
}
#siteul{
  overflow: hidden;
}
#siteul li{
  padding-bottom: .13rem;
  padding-right: .2rem;
  float: left;
}
#siteul li a{
  position: relative;
  display: block;
  padding: .2rem .23rem;
  padding-left: .87rem;
  font-size: .32rem;
  border: 1px solid #ccc;
  background-color: #f4f4f4;
  font-weight: 700;
}
#siteul li a .img{
  position: absolute;
  left: 0;
  top: 0;
  width: .87rem;
  height: 100%;
  text-align: center;
}
#siteul li a .img img{
  position: absolute;
  width: .45rem;
  height: .45rem;
left: 50%;
top: 50%;
transform: translateX(-50%) translateY(-50%);
}