<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0 user-scalable=no">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="./css/base.css">
  <link rel="stylesheet" href="./leb/fa/css/font-awesome.min.css">
  <link rel="stylesheet" href="./css/commit.css">
  <link rel="stylesheet" href="./css/gsproduct.css">
  <script src="./leb/flexible/flexible.js"></script>
</head>

<body>
  <div class="mmm-container">


    <!-- 头部区域 -->
    <div class="mmm-header" id="header">
      <div class="mmm-logo">
        <i class="logo"></i>
      </div>
      <div class="mmm-download">
        <i class="download"></i>
      </div>

    </div>
    <!-- nav的导航选址区域 -->

    <div class="nav">
      <ul>
        <li class="jd">
          <span></span>
            <i class="fa fa-caret-down "></i>
          
        </li>
        <li class="from">
          <span></span>
          <i class="fa fa-caret-down "></i>
        </li>
        <li class="allprice">全部价格
          <i class="fa fa-caret-down"></i>
        </li>

        <li class="find">
          <a href="#">
            <i class="fa fa-search"></i>
          </a>
        </li>

      </ul>

      <!-- 可以使用jq进行toggle隐藏等 -->



    </div>
    <!-- 渲染的时候第一个默认选中 -->
    <div id="downlist">
      <ul id="jd" class="havedown">

    
      </ul>
      <ul id="from" class="havedown">
       
      </ul>
      <ul id="allprice" class="havedown">
        <li class="check">
          <a href="#" class="fl">全部价格</a>
          <i class="fa fa-check fr"></i>

        </li>


      </ul>
    </div>


    <!-- 下面是产品专区 -->

    <div class="gsproduct">
      <ul>

        <li>
          <a href="#">
            <img src="./images/pro_1.jpg" alt="">
            <p class="lin_1">别的三大司机带你对讲机癌变怠速</p>

            <p class="dan">

              <span class="fl price">￥1551</span>
              <span class="fr go-shop">去凑单</span>
            </p>

          </a>
        </li>

        <li>
          <a href="#">
            <img src="./images/pro_1.jpg" alt="">
            <p class="lin_1">别的三大司机带你对讲机癌变怠速</p>

            <p class="dan">

              <span class="fl price">￥1551</span>
              <span class="fr go-shop">去凑单</span>
            </p>

          </a>
        </li>
        <li>
          <a href="#">
            <img src="./images/pro_1.jpg" alt="">
            <p class="lin_1">别的三大司机带你对讲机癌变怠速</p>

            <p class="dan">

              <span class="fl price">￥1551</span>
              <span class="fr go-shop">去凑单</span>
            </p>

          </a>
        </li>
       
      </ul>


    </div>



    <!-- 添加分页区域 -->

    <!-- 尾部区域 -->
    <div class="footer">
      <ul>
        <li>
          <a href="#">登录</a>
        </li>
        <li>
          <a href="#">注册</a>
        </li>
        <li>
          <a href="#">
            <img src="./images/top.jpg" alt="">返回顶部</a>
        </li>
      </ul>

      <div class="app">
        <p>
          <a href="#header">手机APP下载</a> 慢慢买手机版 -- 掌上比价平台</p>
        <p>m.manmanbuy.com</p>
      </div>
    </div>

  </div>

  <script type="text/bnm" id="tmp">
{{each result v i}}
{{if i==0}}
<li data-id={{v.shopId}} class="check"  }>
    <a href="#" class="fl">{{v.shopName}}
      </i></a>
    <i class="fa fa-check fr"></i>
  </li>
{{else}}
<li data-id={{v.shopId}} >
    <a href="#" class="fl">{{v.shopName}}</a>
    <i class="fa fa-check fr"></i>
  </li>
{{/if}}
{{/each}}
</script>


  <script type="text/bnkml" id="area">
{{each result v i}}
{{if i==0}}
<li class="check" data-id={{v.areaId}} >
    <a href="#" class="fl">{{v.areaName}}</a>
    <i class="fa fa-check fr"></i>
  </li>
{{else}}
<li data-id={{v.areaId}}  >
    <a href="#" class="fl">{{v.areaName}}</a>
    <i class="fa fa-check fr"></i>
  </li>
{{/if}}
{{/each}}
</script>

<script type="text/ubbnjkml" id="page">
{{each result v i}}
<li>
    <a href="#">
      <img src={{v.productImg}} alt="">
      <p class="lin_1">{{v.productName}}</p>

      <p class="dan">

        <span class="fl price">{{v.productPrice}}</span>
        <span class="fr go-shop">去凑单</span>
      </p>

    </a>
  </li>

{{/each}}
</script>




  <script src="./leb/zepto/zepto.min.js"></script>
  <script src="./leb/artTemplate/template-web.js"></script>
  <script src="./js/commit.js"></script>
  <script src="./js/gsproduct.js"></script>
</body>

</html>